@import "tailwindcss";

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    background-color: #080808;
}

#blinking-dot {
    animation: blink-animation 1.5s infinite;
}

@keyframes blink-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}